<%- include('../partials/header') %>

<section>
    <div>Title: </div>
    <div><%= anime.title %></div>
    <div>Genre: </div>
    <div><%= anime.genre %></div>
    <div>Release Year: </div>
    <div><%= anime.releaseYear %></div>
    <div>Description: </div>
    <div><%= anime.description %></div>
    <div>Contributor: </div>
    <div class="anime-user"><img alt="avatar" src="<%= anime.userAvatar %>" referrerpolicy="no-referrer"><%= anime.userName %></div>
</section>


<%- include('../partials/footer') %>