<%- include('../partials/header') %>

<section>
    <div>Title: </div>
    <div><%= anime.title %></div>
    <div>Genre: </div>
    <div><%= anime.genre %></div>
    <div>Release Year: </div>
    <div><%= anime.releaseYear %></div>
    <div>Description: </div>
    <div><%= anime.description %></div>
    <div>Contributor: </div>
    <div class="anime-user"><img alt="avatar" src="<%= anime.userAvatar %>" referrerpolicy="no-referrer"><%= anime.userName %></div>
</section>

<br>
<section>
    <h2>Reviews</h2>
    <% if (user) { %>
        <form id="add-review-form" method="POST" action="/animes/<%= anime._id %>/reviews">
            <label>Review: </label>
            <textarea name="content"></textarea>
            <label>Judgement:</label>
            <select name="judgement">
                <option value="S-Tier">S-Tier</option>
                <option value="A-Tier">A-Tier</option>
                <option value="B-Tier">B-Tier</option>
                <option value="C-Tier">C-Tier</option>
                <option value="D-Tier">D-Tier</option>
            </select>
            <input type="submit" value="Cast Judgement">
        </form>
    <% } %>
</section>

<section>
    <% if (anime.reviews.length) { %>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Review</th>
                    <th>Judgement</th>
                </tr>
            </thead>
            <tbody>
                <% anime.reviews.forEach(function(r) { %>
                    <tr>
                        <td class="review-user"><img src="<%= r.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"><%= r.userName %></td>
                        <td><%= r.createdAt.toLocaleDateString() %></td>
                        <td><%= r.content %></td>
                        <td><%= r.judgement %></td>

                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h6>No Judgements Cast</h6>
    <% }%>
</section>

<%- include('../partials/footer') %>